# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
dist-ssr/
src-tauri/target/
src-tauri/gen/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Tauri
src-tauri/Cargo.lock
!src-tauri/Cargo.lock

# Generated
*.tsbuildinfo
